*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
 }

body{
    /* background-color: #fff; */
    background-color: #bbb;
 }
 
/* estilo do cabeçalho */
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #555;
    color: #fff;
    padding: 15px 50px;
 }

/* estilo do título do cabeçalho */
header h1{
    font-size: 24px;
    color: #fff;
}

header img{
  width: 80px;
}

.header-menu{
  display: flex;
  gap: 20px;
}

/* estilo  do menu de seleção*/
.header-menu select{
    padding: 10px;
    border: none;
    background-color: #bbb;
    color: #fff;
    cursor: pointer; 
}

.header-menu select option:first-child{
  color: #888;
  font-weight: bold;
}


/* estilo do banner principal */
    .banner{
        height: 400px;
        background: url(https://cdn.pixabay.com/photo/2018/05/02/09/29/auto-3368094_640.jpg) no-repeat center center/cover;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
    }
    /* .banner{
        position:relative;
        width: 100%;
        height: 400px;
        overflow: hidden;
    }
    .slides{
      display: flex;
      animation: slide 10s infinite;
    }
    .slides img{
      width: 100%;
      height: 400px;
      object-fit: cover;
    }

    @keyframes slide{
      0%{
        transform: translateX(0);
      }
      33%{
        transform: translateX(-100%);
      }
      66%{
        transform: translateX(-200%);
      }
      100%{
        transform: translateX(0)
      }
    } */

.catalong{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 40px 50px;
}

.catalong-card{
    background-color: #555;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.1);
    transition: transform 0.3s ease;
}

 .catalong-card:hover{
   transform: scale(1.05);
 }

 .catalong-card img{
    width: 100%;
    border-radius: 10px;
 }

  .catalong-card h3{
    font-size: 20px;
    margin: 15px 0;
  }

  .catalong-card p {
    color: #fff;
    margin-bottom: 15px;
  }

  .catalong-card button:hover {
    background-color: black;
  }
  .catalong-card button{
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius:5px;
    cursor: pointer;
    transition: backgroud-color 0.3s ease;
  }
  .catalong-card button:hover{
    background-color: orangered;
  }

  .contact-form h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .contact-form{
    background-color: #bbb;
    padding: 40px 50px;
    margin-top: 40px;
  }
  .contact-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
  }
  .contact-form input,
  .contact-form textarea{
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 5px;
  }
  .contact-form button{
    padding: 15px 30px;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  .contact-form button:hover{
    background-color: #ff6200;
  }
  /* estilo footer */
  footer{
    display: grid;
    grid-auto-columns: repeat(3, 1fr);
    background-color: #333;
    color: #fff;
    padding: 30px 50px;
    justify-items: center;
  }
  footer ul{
    list-style: none;
  }
  footer ul li a{color: #bbb;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  footer ul li a:hover{
    color: #ff6200;
  }
    
  footer p{
    grid-column: span 3;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
  }
  /* ESTILO RESPONSIVO */
  @media (max-width: 768px) {
    .catalog{
      grid-template-columns: repeat(2,1);
    } 
  }